<!doctype html>
<html>
	<head>
		<title>{{ title }} - MyPage</title>
		<link rel="stylesheet" href="{{ '/assets/style.css' | url }}">
	</head>
<body>
	<div>
		{% include 'header' %}
		<hr>
		{{ content }}
	</div>
</body>
</html>
