<hr>
<h4>Pages:</h4>
<ul>
	{% if pagination.href.previous %}
		<li>
			<a href="{{ pagination.href.previous }}">&larr;</a>
		</li>
	{% endif %}
	{% for page in pagination.hrefs %}
		<li>
			<a href="{{ page }}">
				Page {{ forloop.index }}
			</a>
		</li>
	{% endfor %}
	{% if pagination.href.next %}
		<li>
			<a href="{{ pagination.href.next }}">&rarr;</a>
		</li>
	{% endif %}
</ul>